@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-brand-background text-brand-text-primary font-sans antialiased;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #161B22;
}
::-webkit-scrollbar-thumb {
  background-color: #30363D;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #8B5CF6;
}
